name: "Run linter"

on:
  pull_request:
    branches: [ master, main ]
  push:
    branches: [ master, main ]

jobs:
  lint:
    name: Lint Code Base
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Download golangci-lint config
        run: curl -sS https://raw.githubusercontent.com/adlandh/golangci-lint-config/refs/heads/main/.golangci.yml -o .golangci.yml

      - name: Lint Code Base (helpers)
        uses: golangci/golangci-lint-action@v7
        with:
          working-directory: helpers

      - name: Lint Code Base (otel)
        uses: golangci/golangci-lint-action@v7
        with:
          working-directory: helpers/otel

      - name: Lint Code Base (sentry)
        uses: golangci/golangci-lint-action@v7
        with:
          working-directory: helpers/sentry

